body {
  background-color: black;
  color: white;
}

h2 {
  color: #cfd0d7;
  text-shadow: 1px 1px #82bcff;
  margin: 0px;
  padding: 15px;
}

.App {
  max-width: 800px;
  min-width: 250px;
  margin: auto auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.App-header {
  min-height: 130px;
  position: relative;
}

.credits {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #cfd0d7;
}

.veggie {
  color: #bdffb6;
}

.howTo {
  padding-left: 20px;
  display: inline-block;
  font-size: 0.66em;
  color: #cfd0d7;
  text-decoration: underline;
  text-decoration-style: dotted;
  transition: font-size 0.2s;
}

.howTo:hover {
  font-weight: bold;
  cursor: pointer;
}

.HelpModal {
  font-size: 15px;
  display: inline-block;
  background-color: #000000;
  min-width: 500px;
  width: 780px;
  border-radius: 4px;
  padding: 0px 20px 0px 20px;
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.HelpModal em {
  font-weight: bold;
}

.HelpModal li {
  margin: 5px;
}

.HelpModal ul {
  padding-left: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.59);
}

.questLink {
  color: #ffd100;
  text-decoration: none;
}

.questLink:hover {
  text-decoration: underline;
}

.helpImage {
  padding-top: 10px;
}

.centerDiv {
  display: flex;
}
.centerDiv > div {
  margin: auto;
  display: inline;
}
